<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <!-- 读取配置文件 -->
    <context:property-placeholder location="classpath:app.properties"/>

    <!-- 扫描包 -->
    <context:component-scan base-package="com.maple.mvc">
        <context:exclude-filter type="annotation" expression="com.maple.mvc.beans.context.MvcBean"/>
    </context:component-scan>


    <!--dao-->
    <!--===============================h2 DataSource start=============================-->
    <bean id="h2_dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close">
        <!--基本属性 url、user、password配置-->
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="${DB_H2DB_URL}"/>
        <property name="username" value="${DB_H2DB_USER}"/>
        <property name="password" value="${DB_H2DB_PASSWD}"/>

        <!--配置初始化大小、最小、最大-->
        <property name="initialSize" value="1"/>
        <property name="minIdle" value="1"/>
        <property name="maxActive" value="50"/>

        <!--配置获取连接等待超时的时间-->
        <property name="maxWait" value="10000"/>

        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000"/>

        <property name="validationQuery" value="SELECT 'x'"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
    </bean>

    <bean id="tx_h2_dataSource" class="org.springframework.jdbc.datasource.TransactionAwareDataSourceProxy">
        <constructor-arg ref="h2_dataSource"/>
    </bean>
    <bean id="h2TransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="h2_dataSource"/>
    </bean>
    <!--开启事务控制的注解支持-->
    <tx:annotation-driven transaction-manager="h2TransactionManager"/>

    <!-- 初始化数据表结构 -->
    <!--<jdbc:initialize-database data-source="h2_dataSource" ignore-failures="ALL">
        <jdbc:script location="classpath:h2-sql/h2-init.sql" encoding="UTF-8"/>
    </jdbc:initialize-database>-->
    <!--===============================h2 DataSource end=============================-->


</beans>

